<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gpt.css">
    <title>Document</title>
</head>
<body>
    <%- include('titulo')%>
    <div class="centro">
    <div class="container">
    <form action="/adp" method="post" class="cad">
        <label for="locais">Locais:</label>
        <input
          name="locais"
          id="locais"
          type="text"
          placeholder="Digite os locais"
          required
        />
        
      <br /><br />
      <label for="descricao">Descrição:</label>
      <input
        name="descricao"
        id="descricao"
        type="text"
        placeholder="Digite a descrição"
        required
      />
      <br /><br />
      <% if (typeof resultado !== 'undefined' && status) { %> 
        <p style="color: rgb(17, 255, 0)"><%= resultado %></p>
      
      <% } else if(typeof resultado !== 'undefined') { %>

      <p style="color: rgb(128, 0, 0)"><%= resultado %></p>

      <% } %>
      <input type="submit" />
    </form>
</body>
</html>