<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="gpt.css">
  <title>Cadastro de Visitantes</title>
</head>

<body>
  <%- include('titulo')%>
  <div class="centro">
    <div class="container">
      <h1>Cadastro</h1>
      <form action="/salvar-visitante" method="post" class="cad">
        <label for="nome">Digite seu nome:</label>
        <input name="nome" id="nome" type="text" placeholder="Digite o seu nome aqui" required>
        <br><br>
        <label for="telefone">Digite seu telefone:</label>
        <input name="telefone" id="telefone" type="text" placeholder="Digite o seu telefone aqui" required>
        <br><br>
        <label for="em">Digite seu email:</label>
        <input name="em" id="em" type="text" placeholder="Digite o seu email aqui" required>
        <br><br>
        <input type="submit" id="1a20">
      </form>
      <br>
      <h1 id="texto"><%=resultado%></h1>
    </div>
  </div>
</body>
</html>