<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/gpt.css">
</head>

<body>
    <%- include('titulo')%>
    <div class="home-image-container">
        <img src="/IMG/qui.jpg" alt="Quissamã" class="home-image animated">
        <h1>Quer conhecer Quissamã?</h1>
        <p>Quissamã é uma cidade do Estado do Rio de Janeiro. O município se estende por 712,9 km² e contava com 24 700 habitantes no último censo. Os habitantes se chamam quissamaenses.
        Vizinho dos municípios de Carapebus, Conceição de Macabu e Campos dos Goytacazes.</p>   
    </div> 
</body>
</html>