<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gpt.css">
    <title>Jurubatiba</title>
</head>

<body>
    <%- include('titulo')%>
    <img src="./IMG/jub.jpg" alt="">
    <div class="tet">
        <h1>Jurubatiba</h1>
        <p>Criado no dia 28 de abril de 1998, 
        a reserva tem o objetivo de proteger
        um verdadeiro tesouro que é a área      
        de restinga mais bem preservada do   
        litoral brasileiro. A região está    
        na mira de pesquisadores e biólogos   
        do mundo todo, pois abriga uma flora
        e fauna rica com muitas espécies que    
        só existem ali. Jurubatiba tem moradores   
        ilustres como jacarés do papo amarelo,     
        cachorros do mato, tamanduás e uma     
        infinidade de plantas, aves migratórias     
        e peixes.</p>    
    </div> 
    <br></br>
    <%- include('rodape')%>
</body>
</html>