<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gpt.css">
    <title>Machadinha</title>
</head>

<body>
    <%- include('titulo')%>
    <img src="./IMG/mac.jpg" alt="">
    <div class="tet">
      <h1>Machadinha</h1>
      <p>Localizada na Rodovia Municipal MC-67,
      a antiga fazenda sobrevive em um sistema    
      de autogestão da comunidade. O complexo  
      é formado pelas ruínas da casa grande,   
      antigo armazém, a capela de Nossa Senhora   
      do Patrocínio e o conjunto de senzalas    
      totalmente restauradas. Um dos destaques   
      do complexo é o Memorial Machadinha.    
      Construído onde antes era o antigo salão  
      comunitário, o Memorial tem como objetivo    
      preservar a história do povo que deixou    
      Kissama, em Angola, para se instalar no   
      Brasil, dando origem ao município de Quissamã.</p>
    </div>
    <br></br>
    <%- include('rodape')%>
</body>
</html>