<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="gpt.css">
</head>

<body>
    <table>
        <tr>
        <th>Nome:</th>
        <th>Telefone:</th>
        <th>Local:</th>
        <th>Data:</th>
        <% for (let i = 0; i < vetorVisitas.length; i++) { %>
            <tr>
              <td><%=vetorVisitas[i].nome%></td>
              <td><%=vetorVisitas[i].telefone%></td>
              <td><%=vetorVisitas[i].local%></td>
              <td><%=vetorVisitas[i].dia%></td>
            </tr>
          <% } %>
        </table>
</body>
</html>