<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos Turísticos</title>
    <link rel="stylesheet" href="gpt.css">
</head>

<body>
    <%- include('titulo')%>
    <div class="centro">
    <div class="container">
        <div>
            <a href="/adp"><b>Cadastrar Pontos</b></a>
        </div>
    <h1>Pontos turísticos:</h1>
    <ul>
        <a class="pon" href="/jub">
            <li>Jurubatiba</li>
        </a>
        <a class="pon" href="/cas">
            <li>Casa Rosa</li>
        </a>
        <a class="pon" href="/sob">
            <li>Sobradinho</li>
        </a>
        <a class="pon" href="/mac">
            <li>Machadinha</li>
        </a>
    </ul>
    </div>
    </div>
</body>
</html>