<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="gpt.css" />
    <title>Machadinha</title>
  </head>

  <body>
    <%- include('titulo')%>
    <main class="main-roteiro">
      <div>
        <a href="/cad-roteiro"><b>Cadastrar Roteiro</b></a>
      </div>
      <div class="roteiro-titulo">
        <h2>Pacotes Turísticos</h2>
      </div>
      <section class="roteiro-pacotes">
        <div class="pacote">
          <h1>Pacote Completo</h1>
          <p>
            Conheça os princicpais pontos turisticos de Quissamã em uma só viagem.
          </p>
          <ul>
            <li><a href="/">Jurubatiba</a></li>
            <li><a href="/">Casa Rosa</a></li>
            <li><a href="/">Sobradinho</a></li>
            <li><a href="/">Machadinha</a></li>
            <li><a href="/">Praia de João Francisco</a></li>
            <li><a href="/">Praia Barra do Furado</a></li>
            <li><a href="/">Casa Mato de Pipa</a></li>
            
          </ul>
          <p>
            Valor: R$ 800,00
          </p>
        </div>
        <div class="pacote">
          <h1>Pacote Construções Históricas</h1>
          <p>
            Conheça as construções históricas de quissamã em uma só viagem:
          </p>
          <ul>
            <li><a href="/">Casa Rosa</a></li>
            <li><a href="/">Sobradinho</a></li>
            <li><a href="/">Machadinha</a></li>
            <li><a href="/">Casa Mato de Pipa</a></li>
            
          </ul>
          <p>
            Valor: R$ 500,00
          </p>
        </div>
        <div class="pacote">
            <h1>Pacote Praias</h1>
            <p>
                Conheça as praias de quissamã + passagem por jurubatiba:
            </p>
            <ul>
                <li><a href="/">Jurubatiba</a></li>
                <li><a href="/">Praia de João Francisco</a></li>
                <li><a href="/">Praia Barra do Furado</a></li>
            </ul>
            <p>
              Valor: R$ 550,00
            </p>
          </div>
      </section>
    </main>
  </body>
</html>
