<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gpt.css">
    <title>Sobradinho</title>
</head>

<body>
    <%- include('titulo')%>
    <img src="/IMG/sob.jpg" alt="">

    <div class="tet">
        <h1>Sobradinho</h1>
        <p>O Sobradinho é um casarão da década
        de 1870. No fim do século XIX, foi
        construída a Estação da Freguesia no
        entorno da propriedade, com total de 
        40 quilômetros de linha férrea.
        Atualmente tem o objetivo de agregar
        iniciativas educacionais e culturais,
        onde se encontram oficinas de arte,
        dança, música, xadrez e teatro.
        O prédio abriga também a Biblioteca
        Pública Municipal de Quissamã, 
        o Cine Quissamã, o Café da Romana
        e uma réplica da antiga Estação Ferroviária.</p>
    </div>
    <br></br>
    <%- include('rodape')%>
</body>
</html>