<nav>
  <div class="titulo">
    <h1>Guia Turístico</h1>
  </div>
  <div class="links">
    <a href="/"><b>Home</b></a>
    <a href="/pont"><b>Pontos Turísticos</b></a>
    <a href="/cad"><b>Guia Turístico</b></a>
    <a href="/cadvisi"><b>Visitas</b></a>
    <a href="/roteiro"><b>Pacotes</b></a>
    <a href="/cad-roteiro"><b>Roteiro</b></a>
    
  </div>
</nav>
