<div class="titulo">
    <h1>Guia Turístico</h1>
    <div>    
    <a href="/"><b>Home</b></a>
    <a href="/pont"><b>Pontos Turísticos</b></a>
    <a href="/cad"><b>Visitas</b></a>
</div>
</div>
